<h3><a class="btn btn-secondary" href="/student"><i class="fa fa-plus"></i> Insert New</a> Personal Details</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Degree Program</th>
            <th>Goal's in Life</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.address}}</td>
            <td>{{this.age}}</td>
            <td>{{this.degreeProgram}}</td>
            <td>{{this.goalInLife}}</td>
            <td>
                <a href="/student/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/student/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>